html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  font-size: 16px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 300px;
}

.App-header {
  background-color: #222;
  height: 65px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-body {
  width: 60%;
  margin: 20px auto;
  height: 100%;
}

.darkClass {
  background-color: white;
  filter:alpha(opacity=50); /* IE */
  opacity: 0.8; /* Safari, Opera */
  -moz-opacity:0.80; /* FireFox */
  z-index: 2;
  height: 100%;
  width: 100%;
  background-repeat:no-repeat;
  background-position:center;
  position:absolute;
  top: 0px;
  left: 0px;
}

.column {
  width: 29%;
  margin: 0 15px;
  height: 100%;
  float: left;
}

.logo-container {
  margin-top: 15%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form {
  width: 100%;
}

label {
  display: block;
  width: 100%;
  text-align: left;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 97%;
}

input[type="text"] {
  font-size: 14px;
}

textarea {
  display: block;
  width: 97%;
  font-size: 14px;
}

select {
  width: 100%;
  font-size: 14px;
}

button {
  margin: 15px auto;
  height: 30px;
  width: 100%;
  font-size: 14px;
}

ul {
  margin-top: 0;
}

li {
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
}
